---
import "../styles/global.css";
import ThemeScript from "../components/ThemeScript.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

import AppContainer from "./AppContainer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Quiz app for learning" />
		<title>Quiz App</title>
		<ThemeScript />
	</head>
	<body
		class="min-h-screen m-0 w-full h-full bg-background text-primary relative"
	>
		<ThemeToggle />
		<AppContainer>
			<slot />
		</AppContainer>
	</body>
</html>
