---
import "../styles/global.css";
import ThemeScript from "../components/ThemeScript.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Quiz app for learning" />
		<title>Quiz App</title>
		<ThemeScript />
	</head>
	<body class="bg-background text-primary relative">
		<ThemeToggle />
		<section
			class="w-full min-w-[var(--responsive-min-device)] max-w-[var(--responsive-max-device)] px-4 tablet:px-8 desktop:px-32 flex flex-col justify-center items-center min-h-screen"
		>
			<slot />
		</section>
	</body>
</html>
